src/main/mule/batch-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="48d9a6da-d43e-4616-ad7f-205fbb5a4589" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="086afb03-10f6-4660-b13b-2956bd81f273" >
		<file:connection workingDir="C:\Users\mravuri\Desktop\batchoutput" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="2bbe26fd-3d43-47fe-b95d-11fd4ec284f5" >
		<file:connection workingDir="C:\Users\mravuri\Desktop\batchoutput\failures" />
	</file:config>
	<flow name="batch-sampleFlow" doc:id="a8bb99f7-49ee-4220-b1b6-44609b92450e" >
		<http:listener doc:name="Listener" doc:id="abfe5e74-9908-414f-906d-82331bdb15d6" config-ref="HTTP_Listener_config" path="sample"/>
		<batch:job jobName="batch-sampleBatch_Job" doc:id="488b44fb-22eb-4da4-84f0-17facd094e02" maxFailedRecords="6">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="c0f60f2a-71ba-4452-927e-116611cf2887">
					<logger level="INFO" doc:name="Logger" doc:id="a9999154-fd25-46ae-9b06-7be9d7662293" message="#[payload]"/>
					<ee:transform doc:name="Transform Message" doc:id="10aac2a4-0272-4fcd-9b5b-21898ffbe541" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
full: (payload.fname ++ payload.lname)
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<file:write doc:name="Write" doc:id="ad14dfc2-a100-403a-b4cc-9d96c1decfb3" config-ref="File_Config" path='#[uuid() ++ ".json"]' mode="CREATE_NEW" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="3929d61a-dd6b-4791-9142-ebaefcbcd6a0" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Logger" doc:id="5c8744b3-37ad-4da9-a2ab-16cc368fd055" message="failed step"/>
					<file:write doc:name="Write" doc:id="e1e13868-e0fa-4796-8b14-0da20d9bd45b" config-ref="File_Config1" path='#[uuid() ++ ".json"]' mode="CREATE_NEW"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
	<flow name="batch-sampleFlow1" doc:id="843aa2cf-9a0d-4575-8f69-1062958aa8db" >
		<ee:transform doc:name="Transform Message" doc:id="94dba219-5ce1-4791-83ab-4a48b829c120" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
null ++"vikash"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
